/* 通用选择符 */

* {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}

/* 元素选择符 */

body {
    background: #666666
}

p#p1{white-space: pre}
p#p2{white-space: nowrap}
p#p3{white-space: normal;}

h2 {
    color: aqua
}

/* 类选择符与元素选择符搭配 */

h2.warning {
    color: red
}

.urgent {
    font-weight: bold
}

#important {
    color: blueviolet
}

span[class] {
    color: rgb(25, 116, 196)
}

input[type="button"] {
    border: 2px solid red
}

h2 em {
    font-size: 20px
}

/* 动态伪类 */

a:link {
    color: navy
}

a:visited {
    color: gray
}

a:focus {
    color: orange
}

a:hover {
    color: red
}

a:active {
    color: yellow
}